.comment-body {
    color: white;
    border-top: 2px solid var(--cyan);
}

.gist-body-comment {
    text-align: justify;
}

.gist-comment-author {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}