.card.medium {
    height: 250px;
    margin: 2.5rem 2rem;
    outline: 5px solid var(--cyan);
    outline-offset: 10px;
    transition: all .2s;
}

.card.medium:hover {
    transform: scale(1.05);
    outline: 8px solid var(--cyan);
    outline-offset: 15px;
}

.gist-category {
    text-transform: capitalize;
}

.small-card {
    position: relative;
    height: 100%;
}
.small-card-title {
    font-family: 'Cantata One', serif;
    font-weight: 700;
    color: var(--cyan);
    font-size: 1.5rem;
}

.small-card-title a{
    color: var(--dark-gray);
}

.small-card-icon {
    font-size: 18px;
    color: var(--cyan);
    
}

.small-card-rating {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.small-card-data {
    color: var(--light-gray);
}