

.card.medium {
    height: 250px;
    margin: 2.5rem 2rem;
    outline: 5px solid var(--cyan);
    outline-offset: 10px;
    transition: all .2s;
}

.card.medium:hover {
    transform: scale(1.05);
    outline: 8px solid var(--cyan);
    outline-offset: 15px;
}

.gist-category {
    text-transform: capitalize;
}