.view-card {
    color: var(--dark-gray);
}

.card.medium {
    height: 250px;
    margin: 2.5rem 2rem;
    outline: 5px solid var(--cyan);
    outline-offset: 10px;
    transition: all .2s;
}

.card.medium:hover {
    transform: scale(1.05);
    outline: 8px solid var(--cyan);
    outline-offset: 15px;
}

.samall-card-category {
    text-transform: capitalize;
    font-weight: bold;
}

.small-card {
    position: relative;
    height: 100%;
}
.small-card-title {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.small-card-author {
    font-weight: bold;
}

.small-card-icon {
    font-size: 18px;
    color: var(--cyan);
}

.small-card-rating {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.small-card-rating span {
    margin-right: 10px;
}

.small-card-data {
    color: var(--light-gray);
    font-family: 'Cantata One', serif;
    font-style: italic;
    font-size: 13px;
    line-height: 1.5;
}