.auth-title {
    background: var(--white);
    padding: 10px 0;
    margin-bottom: 40px;
    text-align: center;
}

.auth-title .heading {
    font-size: 80px;
}

.sub-heading {
    font-size: 1.2rem;
}

.auth-row {
    display: flex;
    flex-direction: row;
    justify-content: stretch;  
}

.auth-form {
    width: 60%;
}

.auth-options {
    width: 40%;
    margin: 0 auto;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.sub-title {
    color: white;
    font-size: 18px;
    margin: 10px 0;
    text-align: center;
}

.sign-up {
    border-color: var(--cyan);
}

@media screen and (max-width: 900px) {
    .auth-row {
        display: flex;
        flex-direction: column;
        justify-content: center;  
    }

    .auth-form {
        width: 70%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 680px) {
    .auth-form {
        width: 90%;
    }
    .auth-options {
        width: 100%;
    }
}
