/* COLORS */
:root {
  --dark-gray: #333;
  --light-gray: #666;
  --white: #fafafa;
  --cyan: #00bcd4; 
  --black: #111;
}

/* FONTS */
/* font-family: 'Cantata One', serif; */

body {
  margin-top: 100px;
  background: var(--dark-gray);
  color: var(---white);
  box-sizing: border-box;
}
