/* COLORS */
:root {
  --dark-gray: #333;
  --light-gray: #eee;
  --white: #fafafa;
  --cyan: #00bcd4; 
  --black: #000000;
}

/* FONTS */
/* font-family: 'Cantata One', serif; */

body {
  margin-top: 120px;
  background: var(--dark-gray);
  color: var(---white);
  box-sizing: border-box;
}
