.btn-auth-page {
    border: 3px solid var(--white);
    background: none;
}

.btn-auth-page:hover {
    background: var(--cyan);
}

input:not([type]), input[type=text]:not(.browser-default), 
input[type=password]:not(.browser-default), 
input[type=email]:not(.browser-default), 
input[type=search]:not(.browser-default), 
textarea.materialize-textarea {
    border-bottom: 2px solid var(--cyan);
    color: var(--white);
}

input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 2px solid var(--cyan);
    box-shadow: none;
}

.input-field label {
    color: var(--white);
}

/* not working */
.input-field input[type=text]:focus + label,
.input-field input[type=email]:focus + label,
.input-field input[type=password]:focus + label,
textarea.materialize-textarea:focus + label {
    color: red;
  }