.search-box {
    margin: 5rem 0;
}

.title {
    margin-left: 4rem;
    margin-bottom: 2rem;
}

.row {
    padding: 0 2rem;
}

@media screen and (max-width: 900px) {
    .title {
        text-align: center;
        margin-left: 0rem;
    }

    .search-box {
        margin: 3rem 0;
    }
}